# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew buildPlugin
    - name: testing
      run: ls;pwd;cd build/distributions;pwd;ls;cp intellij-time-tracker.zip copyOfFile.zip;ls;
    - name: testing
      run: export test_var="123"
    - name: testing
      run: echo $test_var + ${test_var}
    - name: get commit hash
      run: export new_filename=intellij-time-tracker_$(git rev-parse --short "$GITHUB_SHA")
    - name: rename plugin zip
      run: mv build/distributions/intellij-time-tracker.zip build/distributions/${new_filename}.zip
    - name: Publish Artifact
      uses: actions/upload-artifact@v1
      with:
        name: plugin
        path: build/distributions/${new_filename}.zip
